/* Font Use */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 0 5%;
}
.banner-width {
  display: flex;
  align-items: center;
  background-color: #161616;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.half-width {
  padding: 111px 2px 111px 106px;
}
.banner-image {
  padding: 33px 80px 0px 2px;
}
.half-width h1 {
  font-weight: 700;
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 20px;
}
.half-width p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.button {
  margin-top: 30px;
  background-color: #dd0000;
  border-radius: 5px;
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
}
.button a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.banner-width img {
  width: 100%;
}

/* Banner part end  */

/* main part */

/* blog and article design herte */
.title-bar {
  width: 312px;
  height: 312px;
  background-color: #161616;
  padding: 30px;
  border-radius: 10px;
}
.title-list {
  text-align: center;
  width: 252px;
  height: 64px;
  padding: 23px;
}
.title-list a {
  color: #161616;
  text-decoration: none;
  border-radius: 10px;
  margin: 30px 0;
  font-weight: 500;
  font-size: 20px;
}
#a {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}
#b {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}
#c {
  background-color: #ffffff;
  border-radius: 10px;
}
.container {
  display: flex;
  column-gap: 24px;
}
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}

.blog-image img {
  width: 100%;
}
.blog > p {
  font-weight: 500;
  font-size: 16px;
  color: #161616;
  margin: 20px 0px 15px 20px;
  border: 1px solid #161616;
  display: inline-block;
  padding: 5px 17px;
  border-radius: 7px;
}
.blog h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161616;
  padding: 5px;
}
.detail {
  display: flex;
  gap: 30px;
}
.detail p {
  color: rgba(22, 22, 22, 0.7);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
}
footer {
  margin-top: 100px;
  background-color: #161616;
}
footer h4 {
  font-family: "Berkshire Swash", cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}
footer h4 a {
  text-decoration: none;
  color: #ffffff;
}
footer hr {
  margin: 0 7%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #ffffff4f;
}
.footer-flex {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer-flex a {
  text-decoration: none;
  color: #b9b9b9;
  font-weight: 500;
  font-size: 16px;
}
.footer-social-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}
.footer-social-icon a {
  color: white;
}
